body {
    font-family: 'Roboto', sans-serif;
    background-image: url('Resources/main_BG.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


#products ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#products li {
    background-color:bisque;
    display: flex;
    flex-direction: column; 
    margin: 10px;
    width: 30%;
    border: 1px solid #9c1414;
    padding: 10px;
    box-sizing: border-box;
}

#products img {
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

#products h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

#products p {
    font-size: 0.9em;
    margin: 5px 0;
}

.price {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
}

button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: auto; 
}

button:hover {
    background-color: #45a049;
}
