<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title> <!-- This is a dynamic title -->
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- Navbar (Shared across all pages) -->
    <nav>
        <input type="checkbox" id="toggle-menu" />
        <label for="toggle-menu" id="hamburger" >&#9776;</label>
        <ul id="nav-links">
            <li><a href="/">NFT PRODUCTS</a></li>
            <li><a href="/search">SEARCH</a></li>
            <li><a href="/about">ABOUT</a></li>
            <li><a href="/faq">FAQ</a></li>
        </ul>
    </nav>

    <!-- Main content of each page will go here -->
    <main>
        <%- body %> <!-- This is the placeholder for page-specific content -->
    </main>

    <footer>
        <p>&copy; 2024 E-Commerce Website. All rights reserved.</p>
        <script src="/js/main.js"></script>
    </footer>
    
</body>
</html>
