/* ----------------------------------------------ABOUT US---------------------------------------------- */
#about-us {
    position: relative;
}

.about-content {
    margin: 30px 40px;
}

.about-image {
    max-width: 450px;  /* Adjust the image size as needed */
    float: right;  /* This makes the image float to the right */
    margin-left: 20px;  /* Adds space between the image and the text */
    margin-bottom: 20px;  /* Adds space below the image */
    border-radius: 5px;  /* Optional: Adds rounded corners to the image */
}

/* Login/Registration styling */
.login-container {
    display: flex;
    margin: 40px auto;
    max-width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
}

.login-container p {
    margin: 0 0 60px; /* Small spacing between header and form */
    color: #555; /* Subtle text color */
}

.form-section {
    flex: 1;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-section form {
    display: flex;
    flex-direction: column;
}

.form-section form label {
    margin-bottom: 0px;
    font-weight: bold;
    color: #555;
}

.form-section form input {
    margin-bottom: 0px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login {
    background-color: #f9efe5;
}

.register {
    background-color: #fdfaeb;
}

/* Security/Settings styling */
.settings-container {
    display: flex;
    margin: 40px auto;
    justify-content: space-between;
    width: 90%;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.settings-section {
    padding: 20px;
}

/* General Settings and Change Password sections occupy 25% each */
.settings-section.general,
.settings-section.password {
    flex-basis: 25%; /* Occupy 25% of the width */
    border-right: 1px solid #ddd;
}

/* Two-Factor Authentication section occupies 50% */
#2fa-section {
    flex-basis: 50%; /* Occupy 50% of the width */
}

/* Adjust QR code width */
#qr-code img {
    max-width: 50%; /* Better visibility for QR Code */
    height: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-size: 14px;
    color: #555;
}

input[type="password"],
input[type="text"],
select,
.form-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
}

.form-button:hover {
    color: white;
    background-color: #4cae4c;
}