/* ----------------------------------------------ABOUT US---------------------------------------------- */

#about-us {
    position: relative;
    margin: 10px 40px;
}

.about-image {
    max-width: 450px;  /* Adjust the image size as needed */
    float: right;  /* This makes the image float to the right */
    margin-left: 20px;  /* Adds space between the image and the text */
    margin-bottom: 20px;  /* Adds space below the image */
    border-radius: 5px;  /* Optional: Adds rounded corners to the image */
}