@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    font-family: 'Hiragino Sans';
    background-color: #ffffff;
    /* background-image: url('Resources/main_BG.jpg'); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* This ensures nav bar is always at the top of the page, even when scrolling down. */
body, html {
    margin: 0;
    padding: 0;
}
#toggle-menu {
    display: none; /* Hide the checkbox */
}

nav {
    position: sticky;
    top: 0;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    background-color: #781102;
    z-index: 1000; /* Ensure the navbar is above other content */
    width: 100%;
    left: 0; /* Start from the left edge */
    right: 0; /* Stretch to the right edge */
    font-size: 3em;
    font-family: 'Bebas Neue', sans-serif;
    text-shadow:
        2px 2px 0px #000000,   /* Horizontal and vertical shadows for the outline */
        -2px -2px 0px #000000,  /* Shadows in other directions */
        2px -2px 0px #000000,
        -2px 2px 0px #000000;
}

#nav-links {
    list-style: none;
    display: flex; /* Arrange the items in a row */
    justify-content: flex-start;
    padding: 0;
    margin: 0;
}

#nav-links li {
    padding: 1px 15px;  /* Add padding inside the list items */
    position: relative;
    margin-right: 4em; /* Space between each nav item */
}

#nav-links li:last-child {
    margin-right: 0; /* Remove margin for the last nav item */
}

#nav-links li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: .5em;
}

#nav-links li a:hover {
    color: #e0e0e0; 
    border-bottom: 9px solid black; 
    padding-bottom: 0.01em;
}

nav a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 14px 20px;
    display: block;

}

.cart-container {
    position: absolute;
    right: 0;
    padding: 10px;
    padding-right: 20px;
}

.cart-button {
    border: 2px solid rgba(0, 0, 0, 0.074);
    border-radius: 18px;
    font-size: 16px;
    cursor: pointer;
    gap: 8px;
    background-color: transparent;
    box-shadow: -1px -2px 2px rgba(0, 0, 0, .29);
    display: block; 
    position: relative;
    margin: 10px auto; 
    text-align: center;
    text-decoration: none;
    padding: 0 20px;
    width: 200px;
    height: 70px;
}


.cart-icon {
    font-size: 50px;
}

/* Cart item count styling */
.cart-count {
    border: 2px solid black;
    position: absolute;  
    top: -5px;  
    left: -5px;  
    background-color: rgb(255, 255, 255);
    color: rgb(0, 117, 186);
    border-radius: 100%;
    padding: 8px;
    font-size: 20px;
}

.cart-text {
    font-size: 30px;
    font-family: 'Bebas Neue', sans-serif;
}

.cart-button:hover  {
    background: linear-gradient(to bottom, #f0dd60 0%, #c0934f 100%);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3); /* Adds more shadow for hover */
}

/* Active (clicked) state */
.cart-button:active {
    transform: translateY(1px); /* Slightly depress the button */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); /* Reduced shadow on active */
}


header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Adjust this height as necessary */
    background-image: url('/images/Header_Background.png');
    background-size: cover;  /* Ensure the background covers the entire div */
    background-position: center; /* Center the background image */
    z-index: 0; /* Make sure the background is below the logo */
}

header img {
    height: 200px; /* Adjust the height of the logo */

}

#headerLogo {
    display: inline-block; /* Ensure the anchor behaves like a block-level element */
    cursor: pointer; /* Add a pointer cursor to indicate it is clickable */
    position: relative; /* Ensure it's positioned relative to the header */
    z-index: 1; /* Ensure the logo is above the background */
    height: 200px; /* Adjust the height of the logo */
    width: auto;   /* Ensure the aspect ratio of the logo is maintained */
}

#headerLogo {
    display: inline-block;
    cursor: pointer;
    z-index: 1001; /* Ensure the logo is above other content */
}

section h2 {
    text-align: center;
    margin: 20px 0;
    font-size: 2em;
}

#products ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#products li {
    font-size: 2em;
    border-radius: 3px;
    display: flex;
    text-align: center;
    flex-direction: column; 
    margin: 10px;
    width: 30%;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #4c4c4c10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

#products img {
    width: 100%; 
    height: auto;
    margin-bottom: 10px;
}

#products h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

#products p {
    font-size: 0.9em;
    margin: 5px 0;
}

.price {
    font-family: 'Bebas Neue', sans-serif;
    color:#7a1000;
    margin-top: auto;
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
}

.add-to-cart-btn {
    color: black;
    background: linear-gradient(to bottom, #fee967 0%, #fec168 100%);
    border: 2px solid rgba(0, 0, 0, 0.418);
    display: block; /* Change from inline-block to block */
    position: relative;
    margin: 10px auto; /* Auto margin on left and right to center */
    text-align: center;
    text-decoration: none;
    border-radius: 25px;
    transition: all 0.15s ease;
    padding: 0 20px;
    max-width: 320px; /* Set a max-width to prevent it from getting too wide */
    height: 70px;
    font: bold 40px/42px Arial, sans-serif;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, .29);
    cursor: pointer; /* Ensures pointer cursor on hover */
}


/* Hover state */
.add-to-cart-btn:hover  {
    background: linear-gradient(to bottom, #f0dd60 0%, #c0934f 100%);
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.3); /* Adds more shadow for hover */
}

/* Active (clicked) state */
.add-to-cart-btn:active {
    transform: translateY(1px); /* Slightly depress the button */
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.15); /* Reduced shadow on active */
}


@media screen and (max-width: 600px) {
    #products ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: block; /* Stack items vertically */
    }

    #products li {
        width: 100%; /* Each item takes full width */
        margin: 10px 0;
        display: block; /* Ensure items are block elements */
        text-align: center; /* Center content horizontally */
    }

    #products img {
        width: 80%; /* Adjust image width for mobile view */
        height: auto;
        margin-bottom: 10px;
    }

    .price {
        font-size: 1.1em;
    }

    nav {
        font-size: 2em; /* Adjust font size for mobile */
    }

    #nav-links {
        flex-direction: column;
        align-items: center;
        background-color: #781102;
        width: 100%;
        padding: 0;
        transition: max-height 0.5s ease-out; /* Transition for dropdown effect */
        overflow: hidden; /* Prevent overflow during transition */
        max-height: 0; /* Start with height of 0 for animation */
    
    
    }

    #nav-links li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    #nav-links li a {
        padding: 0.5em 0;
    }

}

/* This hides the checkbox itself */
#toggle-menu {
    display: none;
}
#toggle-menu:checked + #hamburger + #nav-links {
    max-height: 300px; /* Set a max height when expanded (adjust as necessary) */
}

/* Styles for the hamburger menu */
#hamburger {
    display: none; /* Hidden by default */
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
}

/* Positioning for nav-container */
.nav-container {
    position: relative;
}

@media (max-width: 600px) {
    #toggle-menu {
        display: none; /* Hide the checkbox */
    }
    h3, p {
        width: 80%; /* Make text elements take full width */
        max-width: 600px; /* Limit text width */
        text-align: center; /* Center-align text */
        margin: 0 auto; /* Center the text block */
        padding: 10px; /* Add some padding for spacing */
    }

    #hamburger {
        display: block; /* Show hamburger icon only on mobile */
        font-size: 24px;
        background: none;
        border: none;
        color: #f2f2f2;
        cursor: pointer;
    }

    #nav-links {
        flex-direction: column;
        align-items: center;
        background-color: #781102;
        width: 100%;
        padding: 0;
        transition: max-height 0.5s ease-out; /* Transition for dropdown effect */
        overflow: hidden; /* Prevent overflow during transition */
        max-height: 0; /* Start with height of 0 for animation */
    }

    /* Show menu when checkbox is checked */
    #toggle-menu:checked + #hamburger + #nav-links {
        max-height: 300px; /* Set a max height when expanded (adjust as necessary) */
    }

    nav li {
        font-size: 20px;
        margin: 10px 0;
    }

    nav a {
        padding: 10px 15px;
        font-size: 1.2em;
    }
}